.exercise{
	height: fit-content;
	margin: 50px 0 ;
	.exercise-text{
		.text-container{
			h3{
				font-family: 'Montserrat', sans-serif;
			}
			p{
				padding: 10px 0;
				font-family: 'Montserrat', sans-serif;
				font-weight: 300;
			}
		}
		.link-container{
			display: flex;
			padding: 10px 0;
			.btn{
				height: 33px;
				color: black;
				background-color: white;
				border: 1px solid black;
				font-size: .7em;
				font-weight: bold;
				font-family: 'Montserrat', sans-serif;
				text-transform: uppercase;
				padding: 10px 20px;
				border-radius: 5000px;
				transition: all 0.3s;
			}
			.btn:hover{
				background-color: black;
				color: white;
			}
		}
	}
	
	.exercise-images{
		width: 100%;
		height: 40%;
		.exercise-images-big{
			margin: 10px 0 ;			
			img{
				width: 100%;
				height: 100%;
				display: block;
				object-fit: contain;
			}
		}
		.exercise-images-small{
			width: 100%;
			height: 100%;
			display: flex;
			.box1{
				width: 50%;
				.image-2{
					width: 100%;
					height: 60%;
					object-fit: cover;
					padding: 0 5px 5px 0;
					display: block;
				}
				.image-3{
					width: 100%;
					height: 40%;
					object-fit: cover;
					padding: 5px 5px 0 0 ;
					display: block;
				}
			}
			.box2{
				width: 50%;
				position: relative;
				.image-4{
					width: 100%;
					height: 40%;
					object-fit: cover;
					padding: 0 0 5px 5px;
					display: block;
				}
				.image-5{
					width: 100%;
					height: 60%;
					object-fit: cover;
					padding: 5px 0 0 5px;
					display: block;
				}
				a{
					position: absolute;
					bottom: 20px;
					right: 20px;
					padding: 5px;
					font-size: 150%;
					display: flex;
					border-radius: 50%;
					border: 1px solid black;
					transition: all 0.3s;
					z-index: 1;
					svg{
						color: white;
					}
				}
				a:hover{
					background-color: white;
					svg{
						color: black;
						padding: 1px;
					}
				}
			}
		}
	}
}
@media (min-width: 900px) {
	.exercise{
		width: 100%;
		max-height: fit-content;
		.exercise-text{
			display: flex;
			margin: 10px 0 ;
			.text-container{
				width: 60%;
			}
			.link-container{
				display: flex;
				// flex-direction: column-reverse;
				justify-content: end;
				align-items: end;
				width: 40%;
			}
		}
		.exercise-images{
			height: 700px;
			display: flex;
			.exercise-images-big{
				max-width: 50%;
				height: 100%;
				margin: 10px 10px 0px 0;
				img{
					width: 100%;
					height: 100%;
					display: block;
					object-fit: cover;
				}
			}
			.exercise-images-small{
				width: 50%;
				margin: 10px 0 0;
				.box1{
					width: 50%;
					.image-2{
						padding: 0 10px 10px 10px;
					}
					.image-3{
						padding: 10px 10px 0 10px
					}
				}
				.box2{
					width: 50%;
					.image-4{
						padding: 0 0 10px 10px;
					}
					.image-5{
						padding: 10px 0 0 10px;
					}
				}
			}
		}
	}
}
