.picture{
	margin-top: 40px;
	width: 100%;
	max-height: 700px;
	background-color: #ecf2f7;
	.picture-container{
		width: 100%;
		height: 100%;
		img{
			width: 100%;
			max-height: inherit;
			object-fit: cover;
			object-position: bottom;
			display: block;
		}
	}
	.moto{
			h1{
				width: 100%;
				padding: 20px;
				text-align: left;
				color: black;
				font-family: 'Montserrat', sans-serif;
				font-weight: 700;
				font-size: 2em;
				mark{
					background-color: #ecf2f7;
					color:  #004aab;
				}
			}
			.button-container{
				padding: 20px 20px 20px;
				display: flex;
				align-items: end;
				position: relative;
				a{
					padding: 5px;
					font-size: 150%;
					display: flex;
					border-radius: 50%;
					border: 1px solid black;
					transition: all 0.3s;
					z-index: 1;
					svg{
						color: black;
					}
				}
				a:hover{
					background-color: black;
					svg{
						color: white;
						padding: 1px;
					}
				}
			}
	}
	@media (min-width:900px) {
		display: flex;
		.picture-container{
			width: 60%;
			height: inherit;
			order: 2;
			img{
				width: 100%;
				height: 100%;
			}
		}
		.moto{
			width: 40%;
			order: 1;
			.text-container{
				height: 50%;
				display: flex;
				justify-content: center;
				align-items: center;
				h1{
					
					font-size: 2rem;
				}
			}
			}
			.button-container{
				height: 50%;
				padding: 0 20px 20px;
				display: flex;
				align-items: end;
			}
		}
	}