.picture{
	.picture-container{
		max-height: 50vh;
		img{
			width: 100%;
			max-height: inherit;
			object-fit: cover;
			object-position: bottom;
		}
	}
	.moto{
		// background-color:rgb(84,84,84);
		// background-color: #4c4c4c;
		padding: 15px 0 30px;
			h1{
				max-width: 1200px;
				margin: 1% 0 1% 30%;
				padding: 20px 0 0 40px;
				text-align: left;
				color: black;
				font-family: 'Montserrat', sans-serif;
				font-weight: 700;
				font-size: 2em;
			}
	}
	@media (min-width:1200px) {
		h1{
			font-size: 2rem;
		}

	}
}
