.app{
	.app-container{
		// width: 95vw;
		max-width: 1700px;
		height: fit-content;
		padding: 0 15px;
		margin: 0 auto;
}
@media (min-height: 900px) {
	padding: 0 30px;	
}

// img{
// 	-moz-transition: opacity 0.75s ease-in-out;
// 	-webkit-transition: opacity 0.75s ease-in-out;
// 	-ms-transition: opacity 0.75s ease-in-out;
// 	transition: opacity 0.75s ease-in-out;
// }

// img{
// 	opacity: 0;
// }

}